*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1d3b53;
    color: #fff;
}

a {
    text-decoration: none;
    color: #151616;
}

.navegacao {
    position: absolute;
    width: 100%;
    height: 4rem;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(90deg, #C2DED1 -13.75%, rgba(194, 197, 222, 0) 76.25%), #F1E0AC;
    text-align: center;
}

.navegacao__img {
    height: 100%;
    margin-left: auto;
}

.navegacao__voltar {
    font-weight: 900;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.breadcrumb {
    margin-top: 5rem;
}

.breadcrumb-item a {
    color: #fff;
}

.plano__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: #c2ded1;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    letter-spacing: 3px;
}
.plano__desc {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.plano__text {
    width: 55%;
}

.plano__logo {
    width: 45%;
    margin-right: 0px;
    text-align: end;
}

.plano__img {
    position: relative;
    right: -1rem;
}
.subtit{
    text-align: center;
    font-size: 1.8rem;

}
.recurso{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.recurso__hospital{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recurso__mao{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.recursos__mao__div{
    width:45%;
    margin-top: 2rem;
    text-align: center;
}
.recurso__text{
    margin-top: 0.6rem;
    font-weight: 500;
    font-size: 0.9rem;
}
.botoes__operadoras{
    background-color: #c2ded1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
}
.botoes__oper{
    height: 4rem;
    width:80%;
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nao_cliente{
    background-color: #3F9DD7;
}
.planos{
    background: rgba(63, 157, 215, 0.8);
}
.hosp{
    background: rgba(63, 157, 215, 0.4);
}
.lab{
    background: rgba(63, 157, 215, 0.2);
}
.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #C2DED1;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}