<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Programmer & Designer">
        <title>Astro Vida e Saúde | Planos de Saúde</title>

        <!----- ÍCONE ----->
        <link rel="icon" href="../../assets/images/fav_icon.png">

        <!------ CSS ------>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/media.css">

        <!----- ICONS ----->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <!---- =======================
		NAVBAR START ----->
        <header>
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container">
                    <a href="#" class="navbar-brand">
                        <img src="../../assets/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-bar">
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="../../index.html">Home</a></li>
                            <li><a class="nav-link" href="planos.html">Planos</a></li>
                            <li><a class="nav-link" href="contato.html">Contato</a></li>
                            <li><a class="nav-link" href="">Simulação</a></li>
                            <li><a class="nav-link" href="sobre.html">Sobre</a></li>
                        </ul>
                        <i class="bi bi-moon btn-dark-mode"></i>
                    </div>
                </div>
            </nav>
        </header>
        <!---- =======================
        NAVBAR END ------->

		<!---- =======================
		CONTENT START ---->
        <main>
            <!---- =======================
		    ARTICLE START ----->
            <article>
                <!---- =======================
		        SECTION START ----->
                <section class="section-title">
                    <div class="container">
                        <h2>CONTATO</h2>
                        <p>Deixe sua mensagem, visite nosso escritório comercial ou entre em contato com nossos consultores para tirar todas suas dúvidas e agende uma visita, nós vamos até você!</p>
                    </div>
                </section>
                <!---- =======================
                SECTION END ------->

                <div class="contato bg-white py-5">
                    <div class="container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7334.801585821416!2d-45.885961!3d-23.19206!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a149e9fa313%3A0x5b28aac55d9cd106!2sR.%20Eucl%C3%ADdes%20Miragaia%20-%20Centro%2C%20S%C3%A3o%20Jos%C3%A9%20dos%20Campos%20-%20SP%2C%2012245-820!5e0!3m2!1spt-BR!2sbr!4v1679109190164!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="mb-4">
                                        <i class="bi bi-envelope"></i>
                                        <h4>Email:</h4>
                                        <p>comercial@pilonvidaesaude.com.br</p>
                                    </div>
                                    <div class="mb-4">
                                        <i class="bi bi-telephone"></i>
                                        <h4>Telefone:</h4>
                                        <p>(12) 3307-5375</p>
                                    </div>
                                    <div class="mb-4">
                                        <i class="bi bi-geo-alt"></i>
                                        <h4>Endereço:</h4>
                                        <p>Rua Euclides Miragaia, 660 sala 91 - Centro - São José dos Campos - SP</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-8">
                                <form method="POST" action="">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <input type="text" class="form-control form-control-lg" placeholder="Nome" required>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <input type="email" class="form-control form-control-lg" placeholder="E-mail" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control form-control-lg" placeholder="Assunto" required>
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control form-control-lg" name="message" rows="5" placeholder="Mensagem" required></textarea>
                                        </div>
                                    </div>
                                    <div class="d-md-flex justify-content-md-end">
                                        <button type="submit" class="btn btn-blue btn-lg">Enviar Mensagem</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!---- =======================
		    ARTICLE END ------->
        </main>
        <!---- =======================
        CONTENT END ------>

        <!---- =======================
        FOOTER START ----->
        <footer>
            <div class="footer-info">
                <div class="container">
                    <p><i class="bi bi-telephone"></i> (12) 3307-5375</p>
                    <p><i class="bi bi-envelope"></i> comercial@pilonvidaesaude.com.br</p>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>Pilon Vida e Saúde &copy;2016 Todos os direitos reservados</p>
                </div>
            </div>
        </footer>
        <!---- =======================
        FOOTER END ------->
        
        <!---- Javascript ----->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../assets/js/navbar.js"></script>
    </body>
</html>